.conf2022 {
    background-color: #FFF0C1;
    color: white;
}

.conf2022 .poster {
    width: 100%;
    margin-bottom: 3rem;
}

.parallax-wrapper {
    background-color: #fff0c1;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.cover {
    position: absolute;
    background-color: #fff0c1;
    width: 100%;
    min-height: 100vh;
    top: max(100vw, 100vh);
}

.conf2022 .confButton {
    background-color: #005f7f;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.conf2022 .confButton:hover {
    background-color: #049aa5;
    cursor: pointer;
}


